body {
}

.mainTop {
	margin-top: 20px;
	background-image: url('../images/background1.jpg');
	width: 100%;
	border-radius: 1%;
}

.statement {
	font-style: italic;
	width: 60%;
	padding-bottom: 20px;
	margin: auto;
	color: white;
	text-shadow: 1px 1px black;
}

.bg{
	background-color: hsla(0, 0%, 0%, 0.5);
	margin-top: 10px;
	width: 100%;
}

.bg h3 {
	text-align: center;
	font-weight: bold;
	color: white;
}

.bg p {
	text-align: center;
	font-style: italic;
	color: steelblue;
	width: 60%;
	margin: auto;
}

.btn {
	width: 140px;
} 

.mainCenterCol {
	width: 65%;
	background-color: white;
}

.page1 {
	width: 99%;	
	margin: auto;
	margin-bottom: 50px;
}

.underline {
	width: 90%;
	margin-top: 2%;
}

.colArea {
	height: 150px;
	margin: auto;
	background-color: white;
	max-width: 250px;
}

.deals {
	width: 80%;
	margin: auto;
	margin-top: 30px;
	background-color: white;
}

.deals1 h2 {
	font-weight: bold;
	font-style: italic;
	text-align: center;
	color: steelblue;
}

.deals2 h4 {
	text-align: center;
	font-style: italic;
	color: steelblue;

}

.competition {
	margin: auto;
	margin-top: 20px;
	width: 80%;
}

.win1,
.win2,
.win3 {
	margin-top: 30px;
	background-color:white;
}

.sidelist {
	max-width: 80px;
}

.hotdeals {
	text-align: center;
	font-weight: bold;
	color: red;
}

.dealstable {
	margin: auto;
	width: 80%;
}

.tblLeft {
	text-align: left;
}

.tblCtr {
	text-align: center;
}

.tblRight {
	text-align: right;
}

.logobar {
	width: 90%;
	margin-top: 20px;
	margin-bottom: 10px;
}

.logobaricons {
	max-width: 100px;
}

.page2 {
	margin-top: 35px;
}

/* footer */
.subbtn {
	width: 300px;
}

.ftr {
	border-top: 4px solid gray;
	margin-bottom: 0px;
}

