body {

}

.bg{
	background-color: orange;
	margin-top: 3%;
}

.bg h2 {
	font-weight: bold;
}

.btn {
	width: 140px;
}

.mainInfo {

}

.mainImg {
	float:left;
	margin-right: 20px;
	border: 4px solid #cc7a00;
	border-radius: 2%;
}

.subbtn {
	width: 300px;
}

.ftr {
	border-top: 3px solid gray;
	background-color: lightgray;
}