body {

}

.bg{
	background-color: lightgray;
	margin-top: 10px;
}

.bg h3 {
	font-weight: bold;
}

.bg p {
	font-style: italic;
	color: steelblue;
}

.btn {
	width: 140px;
}

.mainTop {
	margin-top: 10px;
}

.statement {
	margin-top: 20px;
	margin-bottom: 40px;
	font-style: italic;
	width: 80%;
	margin: auto;
}

.serv {
	color: steelblue;
	border-bottom: 2px solid steelblue;
	margin-bottom: 10px;
}

.colArea {
	height: 170px;
	overflow: auto;
	margin: auto;
}

.underline {
	border-bottom: 2px solid steelblue;
}

.page2 {
	margin-top: 35px;
}












/* footer */
.subbtn {
	width: 300px;
}

.ftr {
	border-top: 3px solid gray;
}

