
body {
	background: #cadde5;
	padding: 20px;
}

h1{
	color: #2980b9;
	font-size: 40px;

}

h2{
	color: red;
}

p {
	color: white;
	padding: 10px;
	background-color: blue;
}

h2 span {
	color: #1e4667;
}

p span{
	color: black;
	font-weight: bold;
}