
.container {
	width: 740px;
	margin: auto;
}

.mainHeader {
	height: 110px;
	color: white;
	background: royalblue;
}

#mainContent {
	padding: 20px;
	background: lightgray;
	height: 800px;
}

#mainContent p {
	font-size: 21px;
	line-height: 1.5;
	margin-top: 32px;
}

.mainFooter {
	height: 100px;
	color: white;
	background: #222;
}

.base {
	padding-top: 50px;
	color: white;
	text-align: center;
	font-size: 24px;

}